{% extends 'material_base.html' %}
{% block title %}Banks{% endblock %}
{% block header %}Banks{% endblock %}
{% block enable_logo %}{% endblock %}
{% block enable1 %}{% endblock %}
{% block enable2 %}{% endblock %}
{% block enable3 %}{% endblock %}
{% block enable4 %}{% endblock %}
{% block enable5 %}active{% endblock %}
{% block enable6 %}{% endblock %}
{% block enable7 %}{% endblock %}
{% block enable8 %}{% endblock %}
{% block enable9 %}{% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for bank in banks %}
            <tr>
                <td>{{ bank.id }}</td>
                <td>{{ bank.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
