{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>{% block header %}{% endblock %}</h1>
        <nav>
            <ul>
                <li><a href="{% url 'banks' %}">Banks</a></li>
                <li><a href="{% url 'plans' %}">Plans</a></li>
                <li><a href="{% url 'persons' %}">Persons</a></li>
                <li><a href="{% url 'clients' %}">Clients</a></li>
                <li><a href="{% url 'accounts' %}">Accounts</a></li>
                <li><a href="{% url 'transactions' %}">Transactions</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
